@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", sans-serif;;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  min-height: 155px;
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
  background-color: #FFE17F;
  font-style: normal;
}

.page-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.logo-link {
  margin-bottom: 30px;
  position: relative;
  bottom: 20px;
}

.navigation-user  {
  font-weight: 400;
  margin-bottom: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  /* Просто для наглядности меню */
  justify-content: space-between;
}

.navigation-item {
  display: flex;
  list-style-type: none;
}

.navigation-input {
  margin: 0;
  padding: 0;
  width: 360px;
}

.navigation-button-user {
  margin: 0;
  padding: 0;
  width: 160px;
}

.navigation-button-main {
  width: 50px;
  height: 50px;
  background-image: url(/images/button-plus.svg);
  border: none;
  background-color: rgba(28,28,28,0);
}


.navigation-link {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-user .navigation-link {
  padding: 5px 0;
}

.navigation-main .navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 15px 0;
}

.main-container {
  flex-grow: 1;
}

.popular {
  width: 1160px;
  height: 560px;
  margin: 0 auto 70px;
}

.popular-title {
  display: flex;
  align-items: center;
  width: 1160px;
  height: 135px;
  background-color: #FFE17F;
}

.popular-title-text {
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 30px;
  color: #FFFFFF;
  margin: 0 49px 0 900px;
}

.popular-list {
  position: relative;
  bottom: 150px;
  margin: 0;
  padding: 0;
}

.popular-item {
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
}

.gallery-button {
  height: 50px;
}

.advantage {
  width: 560px;
  margin-top: 80px;
}

.advantage-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}

.advantage-description {
  color: #444444;
  margin-bottom: 50px;
}

.advantage-link {
  display: block;
  margin-bottom: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}

.table-row-1 {
  font-size: 36px;
  margin-bottom: 12px;
  margin-right: 60px;
}

.table-row-2 {
  font-size: 16px;
  color: #444444;
}

.slider-control {
  position: relative;
  bottom: 175px;
}

.slider-pagination {
  display: flex;
  justify-content: center;
}

.product {
  width: 1160px;
  margin: 0 auto 70px;
}

.product-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.product-item {
  list-style-type: none;
  margin-right: 40px;
}

.product-link {
  color: inherit;
  text-decoration: none;
}

.product-item:last-child {
  margin-right: 0;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}


.product-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin-top: 32px;
  margin-bottom: 0;
}

.service-container {
  display: flex;
  width: 1160px;
  min-height: 290px;
  margin: 0 auto 70px;
}

.service {
  background-color: #F0F0F0;;
}

.service-wrapper {
  width: 287px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.service-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

.service-button:not(:last-child) {
  margin-bottom: 35px;
}

.service-button:first-child {
  margin-top: 64px;
}

.service-item {
  width: 448px;
  margin-top: 73px;
  margin-left: 116px;
}

.service-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service-desc {
  margin: 0;
  font-weight: 400;
  color: #444444;
}

.service-img {
  width: 136px;
  height: 164px;
  background-image: url(/images/delivery.png);
  margin: 78px 0 0 110px;
}

.offer {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto 70px;
  background-color: #F0F0F0;
}

.offer-img {
  width: 125px;
  height: 100px;
  background-image: url(/images/car.svg);
  background-repeat: no-repeat;
  background-color: #FFE17F;
  background-position: 50%;
}

.offer-title {
  width: 910px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-offer {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 43px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(220, 220, 220, 0.5);;
}

.container {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
  margin-left: 108px;
}

.about-desc {
  margin: 48px auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-text{
  color: #444444;
  margin-bottom: 30px;
}

.about-title {
  margin: 0;
  list-style-type: none;
}

.about-title:not(:last-child) {
  margin-bottom: 19px;
}

.about-subtitle {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.button-about {
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-title {
  margin: 48px auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  color: #444444;
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
  margin-bottom: 15px;
}

.contacts-address-text {
  font-style: normal;
  color: #444444;
  margin-bottom: 0;
}

.contacts-phone {
  text-decoration: none;
  color: #444444;
  font-style: normal;
  margin-bottom: 30px;
}


.contacts-schedule {
  padding: 0;
}

.contacts-schedule-item {
  color: #444444;
  margin-bottom: 30px;
  list-style-type: none;
}

.button-contacts {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  width: 348px;
  margin:64px 252px 144px 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  width: 560px;
  color: #444444;
  margin: 74px 0 0 0;
}

.subscribe-text-offer {
  margin: 14px 0 70px auto;
}

.field {
  width: 557px;
  height: 55px;
  padding: 0;
  border: 1;
  color: #444444;
  background-color: #F0F0F0;
}

.button-subscribe {
  width: 253px;
  height: 57px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
}

.footer_container {
  width: 1160px;
  margin: 0 auto;
}

.footer-logo {
  margin: 62px 1154px 35px 0;
}

.footer-contacts {
  display: flex;
}

.footer-address {
  width: 234px;
  margin: 0 124px 44px 0;
  padding: 0;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 444px;
  margin: 0 154px 62px 0;
  padding: 0;
}

.footer-menu-item {
  list-style: none;
}


.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-phone {
  width: 175px;
  margin-left: auto;
  padding: 0;
}

.footer-phone-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
  text-decoration-line: underline;
}

.footer-social {
  display: flex;
  margin-bottom: 60px;
}

.footer-social-list {
  display: flex;
  width: 150px;
  margin: 0 auto;
}

.footer-social-item {
  list-style: none;
}

/* Catalog */

.inner-container {
  padding: 35px;
  width: 1160px;
  margin: 0 auto;
}

.inner-header {
  margin-left: 60px;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.breadcrumbs-item {
  list-style: none;
  margin-right: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.catalog-container {
  background-color: #F0F0F0;
}

.catalog {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-title {
  margin: 25px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-wrapper {
  box-sizing: border-box;
  min-width: 320px;
  padding: 0 60px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.filter-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catolog-right-column {
  width: 840px;
  background-color: #fff;
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0 ;
}

.sort-title {
  margin: 26px 0 26px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  width: 142px;
  height: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.button-sort-wrapper {
  margin: 20px 40px ;
}

.button-sort {
  width: 30px;
  height: 30px;
}

.product-card-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin: 70px 40px 0 40px;
  padding: 0;
}

.product-card-item {
  list-style-type: none;
  margin-bottom: 44px;
}

.product-card-item:nth-child(2n+1) {
  margin-right: 40px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.button-product {
  display: block;
  margin: 0 auto;
  padding: 18px;
  width: 760px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFFFFF
}

.pagination-wrapper {
  margin: 44px 40px 78px 40px;
  display: flex;
  justify-content: space-between;
}

.button-pagination {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  color: #444444;
  text-decoration: none;
}
