@font-face {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;

}

.page-header {
  color: #000000;
  background-color: #FFE17F;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-user .navigation-link {
  font-weight: 400;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-main .navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.advantage-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.advantage-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.advantage-description {
  color: #444444;
}

.table-row-1 {
  font-size: 36px;
}

.table-row-2 {
  font-size: 16px;
  color: #444444;
}

.product-link {
  color: inherit;
  text-decoration: none;
}

.product-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.service-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

.service-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service-desc {
  color: #444444;
}

.offer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.about-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-text{
  color: #444444;
}

.about-subtitle {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.button-about {
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-text {
  color: #444444;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-address-text {
  font-style: normal;
  color: #444444;
}

.contacts-phone {
  text-decoration: none;
  color: #444444;
  font-style: normal;
}

.contacts-schedule-item {
  color: #444444;
}

.button-contacts {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  }

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  color: #444444;
}

.field {
  color: #444444;
}

.button-subscribe {
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
}

.footer-address-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-phone-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;
  text-decoration-line: underline;
}
